@model IEnumerable<HomeTask1.Entities.Fast_Food>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fast_Food</title>
</head>
<body>
    <h1>Fast Food</h1>
@foreach (var item in Model) { 
    <p>@item.Name</p>
    <p>@item.Id</p>
    <hr>
}

</body>
</html>
